<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="footer-list">
					<li><a href="#">微信</a></li>
					<li><a href="#">新浪微博</a></li>
					<li><a href="#">腾讯微博</a></li>
					<li><a href="#" class="email-lnk">联系我们</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>© 2015 <a href="#">WideKa</a>. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>