<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>WideKa</title>
		#ICON()
		
		<link rel="stylesheet" href="$!{env.imgUrl}/css/bootstrap.css" />
		
		<script type="text/javascript" src="$!{env.imgUrl}/js/portal/respond.min.js"></script>
		<script type="text/javascript" src="$!{env.imgUrl}/modernizr/modernizr.js"></script>
		
		#UA()
	</head>
	
	<body class="">
		
		<section id="top">
    		<header id="home-top" class="nav-top nav-fixed nav-root">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-4 col-xs-4">
    						<h1 id="header-logo" class="image-text">
    							<a href="$!{env.appUrl}/index.htm">
    								<span class="mask"></span>
    								<span class="behind"></span>
    								<i class=""></i>
    							</a>
    						</h1>
    					</div>
    					<div class="col-md-8 col-xs-8">
    						<nav id="top-nav">
    							<ul class="nav-list transistion">
    								<li><a href="$!{env.appUrl}/index.htm">关于</a></li>
        							<li><a href="$!{env.appUrl}/work/index.htm">工作</a></li>
        							<li><a class="active" href="$!{env.appUrl}/notes/index.htm">联系我们</a></li>
    							</ul>
    						</nav>
    					</div>
    				</div>
    			</div>
    		</header>
    		
    		<div class="masthead-wrap">
    			<div id="title" class="work-head">
    				<div class="container">
    					<div class="transistion cloud left-cloud-notes"></div>
    					<div class="transistion cloud right-cloud-notes"></div>
    					<div class="transistion flag flag-left"></div>
    					<div class="transistion flag flag-right"></div>
    					<div class="row">
    						<div class="col-md-12">
    							<div id="head-slider" class="transistion">
    								<div class="slide-contents">
    									<div class="slide">
    										<h2 class="notes">
    											<figure class="">
    												<img src="$!{env.imgUrl}/image/notes/notes.svg" />
    											</figure>
    										</h2>
    									</div>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>

		<section id="notes">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-9 col-md-offset-3">
    					<article>
    						<h3>业务咨询</h3>
    						<p>
								13858129376；邮箱：<a href="@wideka.com||andy.wang" class="email-lnk">andy.wang@wideka.com</a>
    						</p>
    					</article>
						<article>
    						<h3>产品开发合作</h3>
    						<p>产品与技术相关战略合作：<a href="@wideka.com||coop" class="email-lnk">coop@wideka.com</a></p>
    					</article>
						<article>
    						<h3>加入哇咖</h3>
    						<p>人才加盟、就业合作：<a href="@wideka.com||job" class="email-lnk">job@wideka.com</a></p>
    					</article>
						<article>
    						<h3>微信</h3>
    						<figure>
    							<img src="$!{env.imgUrl}/image/notes/qrcode.jpg" />
    						</figure>
    					</article>
						<article>
    						<h3>联系地址</h3>
    						<p>杭州市城厢街道东湘社区万寿桥E8信息文创园625室</p>
    					</article>
    				</div>
    			</div>
    		</div>
    	</section>

		#parse("/portal/framework/footer.vm")
	
		#JSM(["jquery", "bootstrap"])
		<script type="text/javascript" src="$!{env.imgUrl}/js/portal/app.js"></script>
		<script type="text/javascript" src="$!{env.imgUrl}/js/portal/init.min.js"></script>
	</body>
</html>