<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>WideKa</title>
		
		<meta name="description" content="杭州哇咖网络科技有限公司" />
		<meta name="keywords" content="WideKa, 哇咖, 微信, 有赞, 微信商城, 粉丝营销, 微信商城运营" />
		<meta name="robots" content="index, follow" />
		
		#ICON()
		
		<link rel="stylesheet" href="$!{env.imgUrl}/css/bootstrap.css" />
		
		<script type="text/javascript" src="$!{env.imgUrl}/js/portal/respond.min.js"></script>
		<script type="text/javascript" src="$!{env.imgUrl}/modernizr/modernizr.js"></script>
		
		#UA()
	</head>
	
	<body class="">
		
		<section id="top">
			<header id="home-top" class="nav-top nav-fixed nav-root">
				<div class="container">
					<div class="row">
    					<div class="col-md-4 col-xs-4">
    						<h1 id="header-logo" class="image-text">
    							<a href="$!{env.appUrl}/index.htm">
    								<span class="mask"></span>
    								<span class="behind"></span>
    								<i class=""></i>
    							</a>
    						</h1>
    					</div>
    					<div class="col-md-8 col-xs-8">
    						<nav id="top-nav">
    							<ul class="nav-list transistion">
									<li><a class="active" href="$!{env.appUrl}/index.htm">关于</a></li>
    								<li><a href="$!{env.appUrl}/work/index.htm">工作</a></li>
    								<li><a href="$!{env.appUrl}/notes/index.htm">联系我们</a></li>
    							</ul>
    						</nav>
    					</div>
					</div>
				</div>
			</header>
			
			<div class="masthead-wrap">
				<div id="title">
					<div class="container">
						<div class="transistion cloud left-cloud"></div>
						<div class="transistion cloud right-cloud"></div>
    					<div class="row">
    						<div class="col-md-12">
    							<div id="head-slider" class="transistion">
    								<div class="slide-contents">
    									<div class="slide">
    										<h2 class="im-sean">
    											<figure class="transistion">
    												<img src="$!{env.imgUrl}/image/portal/im-sean.svg" />
    											</figure>
    										</h2>
    										<p class="header-desc">Android、IOS、Web Developer，Wanna Be Your Friend.</p>
    									</div>
    								</div>
    							</div>
    						</div>
    					</div>
					</div>
				</div>
			</div>
	
			<div class="masthead-wrap">
    			<div id="masthead">
    				<div id="earth-holder">
    					<img src="$!{env.imgUrl}/image/portal/land.svg" />
    				</div>
    			</div>
			</div>
		</section>

		<section id="hello">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<article>
    						<figure>
    							<img src="$!{env.imgUrl}/image/portal/me.svg" />
    						</figure>
    						<h3>Hi.</h3>
    						<p>
								杭州哇咖网络科技有限公司，专注提供IT解决方案与IT服务，为客户提供最优性价比的信息化解决方案与信息化服务。主营业务为android、ios、web应用开发，企业信息化涉及的全领域软件具备成熟完整的设计和开发能力。我们致力于成为全球优秀的IT服务商，通过信息化服务提升人类生活品质，是公司的使命。我们注重长远发展，不因商业利益伤害客户价值，重视与客户的情感沟通，尊重客户感受，与客户共成长。
							</p>
    					</article>
    				</div>
    			</div>
    		</div>
		</section>

		#parse("/portal/framework/breaker.vm")
	
    	<section id="what-i-do">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<article>
							<header>
    							<h2>我们...</h2>
    						</header>
    						<div id="design" class="row">
    							<div class="col-md-4 col-md-offset-1">
									<div class="home-design-info">
										<figure>
    										<img src="$!{env.imgUrl}/image/portal/me.svg" />
    									</figure>
    									<div class="bubble right">
    										<div class="bubbling-design-icons-vert"></div>
   										</div>
									</div>
    							</div>
    							<div class="col-md-6">
    								<div class="deets">
    									<h3>团队</h3>
    									<p>
											团队成员100%本科及以上学历，5-10年软件行业经验，国内知名企业工作背景。在软件开发、产品设计、项目实施、运维支撑、企业管理等领域有实战经验，尤其是在快速消费品行业具有资深服务经验，拥有严谨务实的实操标准体系，具备学习、创新和不断追求卓越的要求和能力！同心同德，团结协作！
										</p>
    								</div>
    							</div>
    						</div>
    						<div id="develop" class="row">
    							<div class="col-md-4 col-md-push-7">
    								<div class="home-dev-info">
    									<figure>
    										<img src="$!{env.imgUrl}/image/portal/me-dev.svg" />
    									</figure>
										<div class="bubble left">
											<div class="bubbling-dev-icons-vert"></div>
										</div>			
    								</div>
    							</div>
    							<div class="col-md-6 col-md-pull-3">
									<div class="deets">
    									<h3>理想</h3>
    									<p>
											公司目前正处于高速发展之中，一群“爱学习！爱创新！爱拼！还有那么一点理想和情怀！”的年轻人聚在一起，做一点有价值的事！
										</p>
    								</div>
    							</div>
    						</div>
    					</article>
    				</div>
    			</div>
			</div>
    	</section>
	
		#parse("/portal/framework/footer.vm")
	
		#JSM(["jquery", "bootstrap"])
		<script type="text/javascript" src="$!{env.imgUrl}/js/portal/app.js"></script>
		<script type="text/javascript" src="$!{env.imgUrl}/js/portal/init.min.js"></script>
	</body>
</html>