<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>WideKa</title>
		#ICON()
		
		<link rel="stylesheet" href="$!{env.imgUrl}/css/bootstrap.css" />
		
		<script type="text/javascript" src="$!{env.imgUrl}/js/portal/respond.min.js"></script>
		<script type="text/javascript" src="$!{env.imgUrl}/modernizr/modernizr.js"></script>
		
		#UA()
	</head>
	
	<body class="">
		
        <section id="top">
    		<header id="home-top" class="nav-top nav-fixed nav-root">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-4 col-xs-4">
    						<h1 id="header-logo" class="image-text">
    							<a href="$!{env.appUrl}/index.htm">
    								<span class="mask"></span>
    								<span class="behind"></span>
    								<i class=""></i>
    							</a>
    						</h1>
    					</div>
    					<div class="col-md-8 col-xs-8">
    						<nav id="top-nav">
    							<ul class="nav-list transistion">
									<li><a href="$!{env.appUrl}/index.htm">关于</a></li>
    								<li><a class="active" href="$!{env.appUrl}/work/index.htm">工作</a></li>
    								<li><a href="$!{env.appUrl}/notes/index.htm">联系我们</a></li>
    							</ul>
    						</nav>
    					</div>
    				</div>
    			</div>
    		</header>
				
			<div class="masthead-wrap">
    			<div id="title" class="work-head">
    				<div class="container">
    					<div class="transistion cloud left-cloud-work"></div>
    					<div class="transistion cloud right-cloud-work"></div>
    					<div class="transistion flag flag-left"></div>
    					<div class="transistion flag flag-right"></div>
    					<div class="row">
							<div class="col-md-12">
    							<div id="head-slider" class="transistion">
    								<div class="slide-contents">
    									<div class="slide">
    										<h2 class="work">
    											<figure class="">
    												<img src="$!{env.imgUrl}/image/work/work.svg" />
    											</figure>
    										</h2>
    									</div>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
		</section>

		<section id="table" class="work-shots">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<div class="shot">
    						<img class="lazy" src="$!{env.imgUrl}/image/work/loader.gif" data-original="$!{env.imgUrl}/image/work/rest-tablet.jpg" alt="Table Reservation" width="900" height="441" />
    					</div>
    					<div class="shot-info">
    						<h2>Android开发</h2>
    						<h3>Android Developer</h3>
    						<p>安卓APP应用软件已经占据国内移动应用市场的70%以上，app软件的重要性日益凸显。拥有成熟安卓开发团队，我们承诺，为您提供有品质保障的交付产品。</p>
    						<!--
							<p class="btn-hldr shot-btn">
    							<a href="https://dribbble.com/shots/1608486-Reservation-Table" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
    						</p>
							-->
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
	
    	<section id="emp" class="work-shots">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<div class="shot">
    						<img class="lazy" src="$!{env.imgUrl}/image/work/loader.gif" data-original="$!{env.imgUrl}/image/work/emp-hp.jpg" alt="Employify" width="800" height="538" />
    					</div>
    					<div class="shot-info">
    						<h2>IOS开发</h2>
    						<h3>IOS Developer</h3>
    						<p>IOS的应用软件在国内移动应用市场占28%左右，为您提供一战式的ios完整的系统结构与内容编程。</p>
							<!--
    						<p class="btn-hldr shot-btn">
    							<a href="https://dribbble.com/shots/1518432-Employify-Resume" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
    						</p>
							-->
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
	
    	<section id="origami" class="work-shots">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<div class="shot">
    						<img class="lazy" src="$!{env.imgUrl}/image/work/loader.gif" data-original="$!{env.imgUrl}/image/work/origami-hp.jpg" alt="Origami" width="800" height="538" />
    					</div>
    					<div class="shot-info">
    						<h2>Web应用开发</h2>
    						<h3>Web Developer</h3>
    						<p>多年web应用程序开发实战经验，关注并理解客户需求，不断以卓越的产品和服务满足客户需求，提高您的用户体验，提升工作效率。</p>
    						<!--
							<p class="btn-hldr shot-btn">
    							<a href="http://drbl.in/krrk" class="main-btn new-window">view on dribbble <i class="drib"></i></a>
    						</p>
							-->
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
		
		#parse("/portal/framework/footer.vm")
	
		#JSM(["jquery", "bootstrap"])
		<script type="text/javascript" src="$!{env.imgUrl}/js/portal/app.js"></script>
		<script type="text/javascript" src="$!{env.imgUrl}/js/portal/init.min.js"></script>
	</body>
</html>